.mainPostContainer {
	width: 210px;
	height: 234px;
	margin: 10px 5px 0 0;
}


.videoContainer {
	width: 100%;
	height: 117px;
	position: relative;
}

.videoContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	max-width: 100%;
	height: 100%;
}

.textContent {
	width: 100%;
	height: 117px;
	padding: 10px;
	overflow: hidden;
}

.topRow {
	font-size: 12px;
	margin-bottom: 5px;
}

.username {
	font-weight: 700;
}

.date {
	font-style: italic;
	margin-left: 25px;
}

.title {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 5px;
}

.subtitle {
	font-size: 12px;
}